@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Gothic');

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 15.6%;
    height: 100%;
    background-color: black;
}

.sidebar p{
    color: #fff;
    margin-bottom: 20px;
    width: 140px;
    margin-top: 20px;
    font-size: 40px;
    font-family: 'Noto Serif JP', sans-serif;
}


.sidebar ul{
    color: #fff;
    list-style: none;
    font-family: 'Noto Serif JP', sans-serif;
    margin: 0px;
    padding: 0 10px 0 10px;
}

.content {
    float: right;
    width: 85%;
}

.sidebar2 {
    width: 30%;
    margin: 10px 0 10px 20px;
}

.content2 {
    width: 70%;
    margin: 10px 0 10px 0;
}

header {
    position: fixed;
    top: 0;
    width: 84.2%;
    background-color: black;
 }
 
.mainvisual {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../池袋.jpg') top center/cover no-repeat;
    background-position: right;
}

header h1 {
    margin: 0;
    padding-left: 100px;
    font-size: 70px;
    font-family: 'Noto Serif JP', sans-serif;
    color: white;
}

 
.mainvisual h2{
    margin: 0;
    font-size: 30px;
    font-weight: normal;
    color: #fff;
    font-family: 'Sacramento', cursive;
}

.block1 {
    width: 420px;
    height: 400px;
    vertical-align: top;
    display: inline-block;
    background-color: rgb(235, 229, 222);
    
}
img{max-width: 100%;
    max-height: 100%;}
   .cat1 {
    height: 200px;
    width: 200x;
    display: flex;
    justify-content: center;
   }
   .cat {
    width: 350px;
    height: 400px;
   }
   

.block1 ul{
    list-style: none;
    margin: 0;
}

.block1 li{
    margin: 0 0 0 15px;
   font-size: 20px;
   font-family: 'Sawarabi Gothic', sans-serif;
}

.block1 h2{
    font-family: 'Noto Serif JP', sans-serif;
    padding-left: 30px;
}

.block1 img {
    width: 300px;
    height: 200px;
}


.block2 {
    vertical-align: top;
    display: inline-block;
    background-color: rgb(235, 229, 222);
    width: 420px;
    height: 400px;
}

.block2 h2{
    font-family: 'Noto Serif JP', sans-serif;
    padding-left: 30px;
}

a{
    color:inherit;
    text-decoration: none;
}
.ikebukuro {
    display: flex;
    justify-content: center;
}

.number {
    display: flex;
    justify-content: center;
}

.content1 {
    float: right;
    width: 80%;

}
.class1{
    font-size: 30px;
    width: 90%;
}
.class2{
    font-size: 20px;
    width: 90%;
}
img{
    width: 300px;
    height: 200px;
}

#container {
    display: flex;
    flex-direction: row;
}

.explanation {
    margin: 10px 10px 10px 10px;
}

.content2 > h2 {
    margin: 0 10px 0 10px;
    border-bottom: solid 1px #cccccc;
}

.explanation > h3 {
    margin: 10px 10px 10px 0px;
    border-bottom: solid 3px #CCCC33;
}

.explanation > p {
    margin: 5px 10px 10px 0px;
}


.sidebar3 {
    width: 40%;
    margin: 0;
}

.content3 {
    width: 60%;
    margin: 0;
}

.sidebar3 > li {
    display: block;
}

.content3 > li {
    display: block;
}