.sidebar {
    float: left;
    width: 20%;
}

.content{
    float: left;
    width: 80%;
}

#picture1{
    width: 850px;
}

.block{
    vertical-align: top;
    display: inline-block;
    background-color: rgb(235, 229, 222);
    
}