.sidebar {
    float: left;
    width: 20%;
}

.content{
    float: left;
    width: 80%;
}

#picture1{
    width: 850px;
}

.block1{
    vertical-align: top;
    display: inline-block;
    background-color: rgb(235, 229, 222);
    width: 350px;
    height: 400px;
}

.block2{
    vertical-align: top;
    display: inline-block;
    background-color: rgb(235, 229, 222);
    width: 400px;
    height: 400px;
}